In [1]:
#tasks to be done 
#marks variable<--input<--student marks ///accomplished
#grade A1,A,B,C,fail  ///accomplished
#grade variable <--input<--student grade ///accomplished
#avalablevcondition///accomplished
#100-80 A1
#79-70 A
#69-60 B
#59-50 C

# grade  calculator based on student marks

In [8]:
#made a nmarks variable and took on input of student marks
marks =int(input("enter your childs marks"))

#made a grade with empty string
grade=""

if marks <= 100 and marks >=80 :
    grade += "A1"
    
elif marks <=79 and marks >= 70 :
    grade +="A"
    
elif marks <=69 and marks>=60 :
    grade +="B"
    
elif marks <=59and marks >= 50:
    grade  +="C"
    
else:
    grade+="fail"
    
#checking of result
print("\n this is a grade of your child", grade)

enter your childs marks60

 this is a grade of your child B

In [9]:
print ("zain bai ag par ka ayehen")

zain bai ag par ka ayehen

In [10]:
input()#defoult out will be astring

100

'100'

In [11]:
institute =input()

pjk

In [12]:
institute

'pjk'

In [13]:
age=input()

10

In [14]:
age

'10'

In [15]:
age + 10

TypeError: can only concatenate str (not "int") to str

In [16]:
#typecasting

In [17]:
# string
str()#converted data type into string

# integer
int()# converted data type into integer

# float
float()

0.0

In [18]:
age

'10'

In [19]:
age=int(age)# age will be converted into integer

In [20]:
futer_age= age +10
futer_age

20

In [8]:
rank =1

In [9]:
type(rank)

int

In [10]:
rank=str(rank)

In [11]:
rank

'1'

In [12]:
name="salman"

In [13]:
str(name)

'salman'

In [14]:
rank

'1'

In [15]:
rank = float(rank)

In [16]:
rank

1.0

In [18]:
age=int(input("pleace enter your age:    "))
age

pleace enter your age:    40

40

In [19]:
type(age)

int

In [20]:
# things that showed not be asked
age=input("place enter your age")
salery=input ("place enter your salery")
mob_no =input ("place enter your mob_no")

place enter your age40
place enter your salery4000
place enter your mob_no1000 0000 00000

In [22]:
print("tese are the inputs" age,salery,phon_no)

SyntaxError: invalid syntax (<ipython-input-22-d8361e54471b>, line 1)