# chapter 11

# else and a;if statment|

In [1]:
animal="cat"

In [2]:
if animal=="cat":
    print("yhis is cat")
    
else:
    print("this is not cat")

yhis is cat

In [5]:
month="jan"

In [8]:
if month == "feb":
    print("this is second month ")
    
elif month == "jan":
    print("this is first month")
    
else:
    print("there is 12 months in year")

this is first month

# chapter 12

# testing set of conditions

In [36]:
weigth=400
time=5

In [37]:
if weigth > 300  and time < 6:
    print("this is true")

this is true

In [42]:
age=30
heigth=70

In [43]:
if weigth > 300  and time < 6 and age > 17 and heigth <72:
    print("this rigth")

this rigth

In [47]:
sat="avg"
gpa=2

In [48]:
if sat > "avg" or gpa < 2.5 or parent=="alum":
    print("parent")

parent

In [6]:
age = 70
res="uk"

In [11]:
if age > 65 or age < 21 and res =="uk":
    print("we live in uk")

we live in uk

In [12]:
if (age > 65 or age < 21) and res =="uk":
    print("live in uk")

live in uk

In [13]:
if age > 65 or( age < 21 and res =="uk"):
    print("not live in uk")

not live in uk

# chapter 13

# if statements nested

In [34]:
x="y"
c="d"

In [35]:
if x =="y" or a == "b" and c == "d":
    print("this is rigth")

this is rigth

In [39]:
c='d'

In [42]:
    if c == "d":
        grat="d"
    elif a =="c":
          grat = "c"
    else:
         grat = "e"

# chapter 14

# comments

# single line comment

In [43]:
# it .s helpfull to under stand code

# multi line comments

In [44]:
"""
to make document of comment on code



"""

'\nto make document of comment on code\n\n\n\n'

# chapter 15

# list

In [45]:
name=["malik","alishah"," noor"]
num=[1,2,3,4,5]

In [47]:
print(name+num)

['malik', 'alishah', ' noor', 1, 2, 3, 4, 5]

In [49]:
student=["malik",2,"noor",50.5]
student

['malik', 2, 'noor', 50.5]

# chapter 16

# lists adding and changing element

In [50]:
student

['malik', 2, 'noor', 50.5]

In [51]:
student.append("salima")

In [52]:
student

['malik', 2, 'noor', 50.5, 'salima']

In [53]:
student.append(45)

In [54]:
student

['malik', 2, 'noor', 50.5, 'salima', 45]

In [55]:
student=student+["shahtaj","zeeshan"]
student

['malik', 2, 'noor', 50.5, 'salima', 45, 'shahtaj', 'zeeshan']

In [56]:
student.insert(0,"shahzab")
student

['shahzab', 'malik', 2, 'noor', 50.5, 'salima', 45, 'shahtaj', 'zeeshan']

In [57]:
student.insert(3,"shahzab")
student

['shahzab',
 'malik',
 2,
 'shahzab',
 'noor',
 50.5,
 'salima',
 45,
 'shahtaj',
 'zeeshan']

# chapter 17

 # list:taking slices out of them

In [58]:
student

['shahzab',
 'malik',
 2,
 'shahzab',
 'noor',
 50.5,
 'salima',
 45,
 'shahtaj',
 'zeeshan']

In [59]:
name=student[3:8]
name

['shahzab', 'noor', 50.5, 'salima', 45]

In [60]:
name=student[:6]
name

['shahzab', 'malik', 2, 'shahzab', 'noor', 50.5]

In [61]:
name=student[6:]
name

['salima', 45, 'shahtaj', 'zeeshan']

In [62]:
name=student[:]
name

['shahzab',
 'malik',
 2,
 'shahzab',
 'noor',
 50.5,
 'salima',
 45,
 'shahtaj',
 'zeeshan']

# chapter 18

# list: deleting and removing elements

In [63]:
name

['shahzab',
 'malik',
 2,
 'shahzab',
 'noor',
 50.5,
 'salima',
 45,
 'shahtaj',
 'zeeshan']

In [65]:
del name[1]
name

['shahzab', 2, 'shahzab', 'noor', 50.5, 'salima', 45, 'shahtaj', 'zeeshan']

In [66]:
del name[3:4]
name

['shahzab', 2, 'shahzab', 50.5, 'salima', 45, 'shahtaj', 'zeeshan']

In [67]:
name

['shahzab', 2, 'shahzab', 50.5, 'salima', 45, 'shahtaj', 'zeeshan']

In [68]:
name.remove("shahzab")
name

[2, 'shahzab', 50.5, 'salima', 45, 'shahtaj', 'zeeshan']

# chapter 19

# list poping elements

In [78]:
subject=["science","math","urdu","english"]

In [79]:
marks=subject.pop(2)
marks

'urdu'

In [82]:
subject.append(marks)
subject

['science', 'math', 'english', 'urdu', 'urdu']

In [84]:
marks=subject.pop(2)
marks

'english'

In [94]:
name=subject.pop(0)
name

'science'