# math exprationbs

In [6]:
age = 20

In [7]:
age=age+3
age

23

In [8]:
age+=7
age

30

In [9]:
age-=2
age

28

In [10]:
age*=5
age

140

In [12]:
age/=2
age

35.0

In [13]:
age=35

In [14]:
amount=20

In [16]:
age+=amount
age

75

# chapter 6

# math experation eliminating ambiguity

In [18]:
total_cost=1+2+3
total_cost

6

In [21]:
total_cost=1+(3+4)
total_cost

8

In [23]:
total_cost=(1+3)*4
total_cost

16

In [24]:
total_cost=(1*3)*4+2
total_cost

14

In [26]:
total_cost=1*3*4+2
total_cost

14

In [28]:
total_cost=((2*4)*4)+2
total_cost

34

In [30]:
total_cost=(2*4)*(4+2)
total_cost

48

# concatenating text strings

In [31]:
print("hellpo","world")

hellpo world

In [32]:
greating="hello"

In [33]:
address="world"

In [35]:
word=greating+address
word

'helloworld'

In [37]:
greating="hello"
separators=","
address
punch="!"
whole_w=greating+separators+address+punch
whole_w

'hello,world!'

In [38]:
whole="hello"+separators+"world"+punch
whole

'hello,world!'

In [40]:
print("the sum of 2 plus2 "+"4")

the sum of 2 plus2 4

# chapter 9

# if statments

In [47]:
animal="cat"

In [48]:
if animal == "cat":
    print("this is cat")

this is cat

In [49]:
var=4

In [50]:
if var == 4:
    print("mathequation")
    print("currect logick")

mathequation
currect logick

# chapter 10

# comparison operators

In [65]:
if 10>10:
    if 10<10:
        if 10>=10:
            if 10<=10:
                 print("this")